

.badge{
    background-color: $txt-red;
    color: $txt-white;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    font-size: 1.4rem;
    margin-left: 0.2rem;
    position: absolute;
    top: -12px;
    left: 45%;
}

.cart{
    display: inline-block;
    position: relative;
    // margin-right: 5rem;
}