
button{
    @include mButton();
}

.button.back{
    color: $txt-black;
    border: 1px solid $txt-black;
    background-color: $txt-white;
    &:hover{
        background-color: $hover-color;
        color: $txt-white;
        border: 1px solid $txt-white;
    }
}

.button.black{
    @include mButton();
    background-color: $txt-black;

    &:hover{
        border: 1px solid $txt-white !important;
    }
}


button.primary{
    background-color: $hover-color;
    color: $txt-white;
    transition: all 0.5s;

    &:hover{
        border: 1px solid $txt-black;
        transform: translateY(10%);
    }
}

button.block{
    width: 100%;
}

button.small{
    font-size: 1.2rem;
}


.edit-button{
    background-color: $hover-color;
    color: $txt-white;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid $border-white-color;
    transition: all 0.5s;

    &:hover{
        background-color: $txt-white;
        color: $hover-color;
    }
}


.delete-button{
    background-color: $error-color;
    color: $txt-white;
    height: 40px;
    border-radius: 3px;
    transition: all 0.5s;
    text-align: center;
    border: 1px solid $border-white-color;

    &:hover{
        background-color: $txt-white;
        color: $error-color;
    }
}