//Card
.card {
    border: 0.1rem solid $border-white-color;
    background-color: $bg-f8-color;
    border-radius: 0.5rem;
    margin: 1rem;
    // background: rgba(255, 255, 255, 0.65);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    // backdrop-filter: blur(0px);
    // -webkit-backdrop-filter: blur(0px);
    // border-radius: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-body {
    padding: 1rem;

    > * {
        margin-bottom: 0.5rem;
    }

    .price {
        font-size: 2rem;
    }

    .product-title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
}

$spacing: 25px;
$columns: 4;

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1 * $spacing;
}

.card-product {
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    background-color: $txt-white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc((100% / #{$columns}) - #{$spacing});
    margin-left: $spacing;
    margin-bottom: $spacing;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
        transform: scale(1);
        box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    }
    display: flex;
    flex-direction: column;

    .card-product-body {
        width: 100%;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .card-product-image {
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

    .inside {
        z-index: 9;
        // background: #a6cdde;
        background: #183051db;
        color: #fff;
        width: 140px;
        height: 140px;
        position: absolute;
        top: -70px;
        right: -70px;
        border-radius: 0px 0px 200px 200px;
        transition: all 0.5s, border-radius 2s, top 1s;
        overflow: hidden !important;
        .icon {
            position: absolute;
            right: 85px;
            top: 85px;
            color: white;
            opacity: 1;
        }
        &:hover {
            width: 100%;
            right: 0;
            top: 0;
            border-radius: 0;
            height: 80%;
            .icon {
                opacity: 0;
                right: 15px;
                top: 15px;
            }
            .contents {
                opacity: 1;
                transform: scale(1);
                transform: translateY(0);
            }
        }
        .contents {
            // color: $txt-black !important;
            color: #cbc1c1 !important;
            padding: 5%;
            opacity: 0;
            transform: scale(0.5);
            transform: translateY(-200%);
            transition: opacity 0.2s, transform 0.8s;

            > * {
                margin: 2rem;
            }

            .rating span:last-child {
                color: #cbc1c1 !important;
            }

            .sellerName {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
                color: #cbc1c1;
                transition: all 0.5s;

                &:hover {
                    font-size: 2rem;
                }
            }

            .description {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
            }

            .content-item {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
            }
        }
    }
}

.top {
    height: 80%;
    flex-shrink: 0;
}
.bottom {
    width: 200%;
    height: 20%;
    transition: transform 0.5s;
    &.clicked {
        transform: translateX(-50%);
    }
    h1 {
        margin: 0;
        padding: 0;
    }
    p {
        margin: 0;
        padding: 0;
    }
    .left {
        height: 100%;
        width: 50%;
        background: #f4f4f4;
        position: relative;
        float: left;
        transition: all 1s;
        .details {
            padding: 20px;
            float: left;
            width: calc(70% - 40px);
        }
        .buy {
            float: right;
            width: calc(30% - 2px);
            height: 100%;
            background: #f1f1f1;
            transition: background 0.7s;
            border-left: solid thin rgba(0, 0, 0, 0.1);

            i {
                font-size: 3rem;
                padding: 30px;
                color: #254053;
                transition: transform 0.5s;
            }
            &:hover {
                // background: #a6cdde;
                background: #183051db;
            }
            &:hover i {
                transform: translateY(5px);
                color: #cbc1c1;
            }
        }
    }
    .right {
        width: 50%;
        background: #183051;
        color: #cbc1c1;
        float: right;
        height: 200%;
        overflow: hidden;
        .details {
            padding: 20px;
            float: right;
            width: calc(70% - 40px);
        }
        .done {
            width: calc(30% - 2px);
            float: left;
            transition: transform 0.5s;
            border-right: solid thin rgba(255, 255, 255, 0.3);
            height: 50%;
            i {
                font-size: 30px;
                padding: 30px;
                color: white;
            }
        }
        .remove {
            width: calc(30% - 1px);
            clear: both;
            border-right: solid thin rgba(255, 255, 255, 0.3);
            height: 50%;
            background: #bc3b59;
            transition: transform 0.5s, background 0.5s;
            &:hover {
                background: #9b2847;
            }
            &:hover i {
                transform: translateY(5px);
            }
            i {
                transition: transform 0.5s;
                font-size: 30px;
                padding: 30px;
                color: white;
            }
        }
        &:hover {
            .remove,
            .done {
                transform: translateY(-100%);
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    $columns: 2;

    .card-product {
        width: calc((100% / #{$columns}) - #{$spacing});
    }
}
@media screen and (max-width: 767px) {
    $spacing: 15px;
    $columns: 1;

    .cards {
        margin-left: -1 * $spacing;
    }

    .card-product {
        width: calc((100% / #{$columns}) - #{$spacing});
        margin-left: $spacing;
        margin-bottom: $spacing;
    }
}


@media screen and (max-width: 400px){
    .shopping-cart .card {
        margin: 5rem 0rem !important;
    }
    
}
