footer {
    grid-area: footer;
    background-color: $primary-color;
    color: $txt-color;
    // border: 1px solid $border-color;

    .social-icon{
        font-size: $font-size-3;
        position: relative;
        padding: 3rem 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        span{
            margin-right: $margin-1 * 5;

            a{
                color: $txt-black;

                &:hover{
                    i.fa-facebook{
                        color: #2D3791;
                    }
                    i.fa-instagram{
                        color: #833AB4;
                    }
                    i.fa-youtube{
                        color: #FF0000;
                    }
                    i.fa-github{
                        color: #333;
                    }
                    
                }
            }
        }
    }


    .footer-bottom{
        padding: 3rem 0;

        span{
            a{
                color: $txt-black;

                &:hover, &:focus{

                    color: $hover-color;
                }
            }
        }
    }
}


@media screen and (max-width: 450px){
    .footer-bottom{
        p{
            font-size: 13px;
        }
    }
}

