.form {
    max-width: 60rem;
    width: 60%;
    //set center form use margin: 0 auto;
    margin: 0 auto;
}

.form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form label {
    margin: 1rem 0;
}

.divider {
    display: block !important;
    margin: 0.5rem 5% !important;
    padding-top: 1.3rem;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    width: 90%;

    span {
        display: inline-block;
        position: relative;
        color: #4b4f56;
        cursor: default;
        font-size: 13px;

        &::after,
        &::before {
            background: #ced0d4;
            content: "";
            height: 3px;
            position: absolute;
            top: 50%;
            width: 9999px;
        }

        &::before {
            margin-right: 15px;
            right: 100%;
        }

        &::after {
            margin-left: 15px;
            left: 100%;
        }
    }
}


@media screen and (max-width: 400px){
    .form {
        width: 90%;
    }
}


