//header
header {
    grid-area: header;
    background-color: $primary-color;
    position: fixed;
    height: 6rem;
    min-width: 100%;
    width: auto;
    border: 1px solid $border-color;
    z-index: 999;

    .btn-sidebar{
        display: none;
    }

    a {
        color: $txt-black;
        padding: $padding-1;
    }

    a.brand {
        margin-left: $padding-1;
        font-size: $txt-white;
        font-size: $font-size-2;
        font-weight: bold;
    }
    .icon{
        margin-right: 1rem;
    }
}


@media screen and (max-width: 1070px) {
    header{
        .btn-sidebar{
            display: inline-block;
        }

        .icon div{
            display: none;
        }

        .icon div:last-child{
            display: block !important;
        }

        // .cart{
        //     margin-right: 1rem;
        // }
    }
}