.search {
    z-index: 1;
}

.search button {
    font-size: 14px;
    padding: 10px 20px;
    color: #183051;
    border: 1px solid #183051;
    text-transform: uppercase;
    background-color: #fff;
    transition: all 0.5s;

    &:hover {
        color: $txt-white;
        background-color: $hover-color;
        border: 1px solid $txt-white;
    }
}

.search input {
    width: 40%;
    margin-right: 10px;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    padding: 10px;
}

.searchClicked {
    transition: all 0.5s;
    position: absolute;
    top: 6.1rem;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2rem;
    background-color: $txt-white;
    border-bottom: 1px solid $border-color;
    margin: 0;
    transform: translateX(200%);
}

.searchClicked.active {
    transform: translateX(0);
}

.searchMobile {
    display: inline-block;
    width: 100%;
    position: relative;

    button {
        position: absolute;
        top: 7px;
        right: 5px;
        color: #000;
        font-size: 17.8px;
        border: 0;
        background: none;
    }

    input {
        width: 100%;
        border: 0;
        padding: 16px 60px;
        background: none;
        font-size: 18px;
        outline: none;
    }
}

@media screen and (max-width: 1070px) {
    .searchClicked {
        display: none;
    }

    .searchClickedMobile {
        display: block;
    }
}

@media screen and (max-width: 1040px) {
    .product-found{
        margin-top: 20px;
    }
}
