

.table{
    width: 100%;
    border-collapse: collapse;

    tbody tr:nth-of-type(odd){
        background-color: $table-color;
    }
    
    td,
    th{
        text-align: left;
        border: 0.1rem solid $table-border-color;
        padding: 0.5rem;
    }
    
    button {
        margin: 0 0.2rem
    }
    
}


