

.user-left{
    margin-right: 6rem;

    h1 {
        border-bottom: 1px solid $border-color;
    }
    li{
        height: 6rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;

        a {
            color: $hover-color;
            
        }
    }
}