html {
  font-size: 62.5%;
  /* 16px  x 62.5 = 10px = 1rem*/
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: "headerr" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.body-container {
  margin-left: 20rem;
  margin-right: 20rem;
}

@media screen and (max-width: 768px) {
  .body-container {
    margin: 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .body-container {
    margin: 0 10rem;
  }
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #183051;
}

.product__name-link {
  color: #040404;
}

.product__name-link:hover {
  color: #183051;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.row.start {
  justify-content: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.col-3 {
  flex: 32 1 75rem;
}

.min-30 {
  min-width: 30rem;
}

.p-1 {
  padding: 1rem;
}

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}

.alert-success {
  color: #20a020;
  background-color: #e0e0ff;
}

.link {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  color: #ffffff;
}

.sellerName {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  color: #040404;
  transition: all 0.5s;
}

.sellerName:hover {
  font-size: 2rem;
}

.active {
  font-weight: bold;
}

header {
  grid-area: header;
  background-color: #ffffff;
  position: fixed;
  height: 6rem;
  min-width: 100%;
  width: auto;
  border: 1px solid #ddd;
  z-index: 999;
}

header .open-sidebar {
  display: none;
}

header a {
  color: #040404;
  padding: 1rem;
}

header a.brand {
  margin-left: 1rem;
  font-size: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 1070px) {
  header .open-sidebar {
    display: inline-block;
  }
  header .icon div {
    display: none;
  }
  header .icon div:last-child {
    display: block !important;
  }
}

main {
  grid-area: main;
  padding: 2rem;
}

footer {
  grid-area: footer;
  background-color: #ffffff;
  color: #000;
}

footer .social-icon {
  font-size: 3rem;
  position: relative;
  height: 10rem;
  border-top: 1px solid #ddd;
}

footer .social-icon span {
  margin-right: 5rem;
}

footer .social-icon span a {
  color: #040404;
}

footer .social-icon span a:hover i.fa-facebook {
  color: #2D3791;
}

footer .social-icon span a:hover i.fa-instagram {
  color: #833AB4;
}

footer .social-icon span a:hover i.fa-youtube {
  color: #FF0000;
}

footer .social-icon span a:hover i.fa-github {
  color: #333;
}

footer .footer-top {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

footer .footer-top p {
  padding: 0 2rem;
}

footer .footer-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #040404;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #040404;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #040404;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #040404;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #183051;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #183051;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: 0 0;
  border: none;
}

.login-box form button a {
  color: #183051;
}

.login-box button:hover {
  background: #183051;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #183051, 0 0 25px #183051, 0 0 50px #183051, 0 0 100px #183051;
}

.login-box button:hover:hover a {
  color: #ffffff;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #183051);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #183051);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #183051);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #183051);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #040404;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.1) inset;
  transition: background-color 5000s ease-in-out 0s;
  height: 70%;
}

@media screen and (max-width: 400px) {
  .login-box {
    width: 100%;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}

.card {
  border: 0.1rem solid #c0c0c0;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.card-body .price {
  font-size: 2rem;
}

.card-body .product-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
}

.card-product {
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc((100% / 4) - 25px);
  margin-left: 25px;
  margin-bottom: 25px;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  display: flex;
  flex-direction: column;
}

.card-product:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.card-product .card-product-body {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-product .card-product-image {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.card-product .inside {
  z-index: 9;
  background: #a6cdde;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.card-product .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}

.card-product .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}

.card-product .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.card-product .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.card-product .inside .contents {
  color: #040404 !important;
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}

.card-product .inside .contents > * {
  margin: 2rem;
}

.card-product .inside .contents .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.card-product .inside .contents .content-item {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.top {
  height: 80%;
  flex-shrink: 0;
}

.bottom {
  width: 200%;
  height: 20%;
  transition: transform 0.5s;
}

.bottom.clicked {
  transform: translateX(-50%);
}

.bottom h1 {
  margin: 0;
  padding: 0;
}

.bottom p {
  margin: 0;
  padding: 0;
}

.bottom .left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}

.bottom .left .details {
  padding: 20px;
  float: left;
  width: calc(70% - 40px);
}

.bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}

.bottom .left .buy i {
  font-size: 3rem;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}

.bottom .left .buy:hover {
  background: #a6cdde;
}

.bottom .left .buy:hover i {
  transform: translateY(5px);
  color: #00394b;
}

.bottom .right {
  width: 50%;
  background: #a6cdde;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}

.bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}

.bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}

.bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}

.bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #bc3b59;
  transition: transform 0.5s, background 0.5s;
}

.bottom .right .remove:hover {
  background: #9b2847;
}

.bottom .right .remove:hover i {
  transform: translateY(5px);
}

.bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}

.bottom .right:hover .remove,
.bottom .right:hover .done {
  transform: translateY(-100%);
}

@media screen and (max-width: 1025px) {
  .card-product {
    width: calc((100% / 2) - 25px);
  }
}

@media screen and (max-width: 767px) {
  .cards {
    margin-left: -15px;
  }
  .card-product {
    width: calc((100% / 1) - 15px);
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  max-width: 40rem;
  width: 100%;
}

.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #040404;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px #a4a4a4 solid;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s;
}

.button.back {
  color: #040404;
  border: 1px solid #040404;
  background-color: #ffffff;
}

.button.back:hover {
  background-color: #183051;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button.black {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px #a4a4a4 solid;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s;
  background-color: #040404;
}

.button.black:hover {
  border: 1px solid #ffffff !important;
}

button.primary {
  background-color: #183051;
  color: #ffffff;
  transition: all 0.5s;
}

button.primary:hover {
  border: 1px solid #040404;
  transform: translateY(10%);
}

button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

.edit-button {
  background-color: #183051;
  color: #ffffff;
  height: 40px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #c0c0c0;
  transition: all 0.5s;
}

.edit-button:hover {
  background-color: #ffffff;
  color: #183051;
}

.delete-button {
  background-color: #a02020;
  color: #ffffff;
  height: 40px;
  border-radius: 3px;
  transition: all 0.5s;
  text-align: center;
  border: 1px solid #c0c0c0;
}

.delete-button:hover {
  background-color: #ffffff;
  color: #a02020;
}

input,
select,
textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.wrapper *::-webkit-scrollbar {
  width: 10px;
}

.wrapper *::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.wrapper *::-webkit-scrollbar-thumb {
  background: #888;
}

.wrapper *::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  position: absolute;
  top: -12px;
  left: 45%;
}

.cart {
  display: inline-block;
  position: relative;
}

.form {
  max-width: 60rem;
  width: 60%;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
}

.divider {
  display: block !important;
  margin: 0.5rem 5% !important;
  padding-top: 1.3rem;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  width: 90%;
}

.divider span {
  display: inline-block;
  position: relative;
  color: #4b4f56;
  cursor: default;
  font-size: 13px;
}

.divider span::after, .divider span::before {
  background: #ced0d4;
  content: "";
  height: 3px;
  position: absolute;
  top: 50%;
  width: 9999px;
}

.divider span::before {
  margin-right: 15px;
  right: 100%;
}

.divider span::after {
  margin-left: 15px;
  left: 100%;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown .dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.loading {
  display: block;
}

.loading-content {
  background: #ffffff;
  display: flex;
  align-items: center;
  height: 500px;
  width: 100%;
}

.back {
  margin: 1em auto;
}

.back span {
  font-size: 3em;
  color: #ffffff;
  background: #183051;
  display: table-cell;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #ccc;
  padding: 0 15px;
  line-height: 100px;
  animation: jumb 2s infinite;
}

@keyframes jumb {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
    box-shadow: 0 15px 0 #ffffff;
  }
  100% {
    transform: translateY(0px);
  }
}

.back span:nth-child(1) {
  animation-delay: 0s;
}

.back span:nth-child(2) {
  animation-delay: 0.1s;
}

.back span:nth-child(3) {
  animation-delay: 0.2s;
}

.back span:nth-child(4) {
  animation-delay: 0.3s;
}

.back span:nth-child(5) {
  animation-delay: 0.4s;
}

.back span:nth-child(6) {
  animation-delay: 0.5s;
}

.back span:nth-child(7) {
  animation-delay: 0.6s;
}

@media screen and (max-width: 400px) {
  .back span {
    font-size: 3rem;
  }
}

@media screen and (max-width: 300px) {
  .back span {
    font-size: 1rem;
  }
}

.checkout-steps > div {
  border-top: 0.3rem solid #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #183051;
  color: #183051;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table button {
  margin: 0 0.2rem;
}

.carousel .slide img {
  max-width: 50rem;
  height: 55rem;
  background: rgba(255, 255, 255, 0);
}

.carousel.carousel-slider {
  background-color: #000;
}

.search {
  z-index: 1;
}

.search button {
  font-size: 14px;
  padding: 10px 20px;
  color: #183051;
  border: 1px solid #183051;
  text-transform: uppercase;
  background-color: #fff;
}

.search input {
  width: 40%;
  margin-right: 10px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  padding: 10px;
}

.searchClicked {
  transition: all 0.9s;
  position: absolute;
  top: 6.1rem;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 2rem;
  margin: 0;
  z-index: 1;
  transform: translateX(200%);
}

.searchClicked.active {
  transform: translateX(0);
}

.searchMobile {
  display: inline-block;
  width: 100%;
  position: relative;
}

.searchMobile button {
  position: absolute;
  top: 5px;
  right: 14px;
  color: #183051;
  font-size: 25px;
  border: 0;
  background: none;
}

.searchMobile input {
  width: 50%;
  border: 0;
  padding: 16px 60px;
  background: none;
  font-size: 18px;
  outline: none;
}

@media screen and (max-width: 1070px) {
  .searchClicked {
    display: none;
  }
  .searchClickedMobile {
    display: block;
  }
}

aside {
  position: fixed;
  width: 30rem;
  height: 100vh;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
}

aside ul {
  padding: 0;
  list-style: none;
}

aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

aside .top-menu {
  height: 60px;
  width: 100%;
  position: relative;
}

aside .top-menu div {
  font-size: 1.75rem;
  padding: 1.5rem;
}

aside .top-menu-box {
  height: 60px;
  width: 100%;
  position: relative;
}

aside .top-menu-box span {
  z-index: 10;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  cursor: pointer;
}

aside .closeButton {
  background-color: #183051;
  color: #ffffff;
  font-size: 1rem;
  height: 60px;
  position: relative;
  width: 100%;
  cursor: pointer;
}

aside .closeButton span {
  font-weight: lighter;
  font-size: 1.4rem;
  left: 20px;
  position: absolute;
  top: 21px;
}

aside .closeButton span i {
  margin-right: 1rem;
}

aside.open {
  transform: translateX(0);
  transition: all 0.5s;
}

aside.close {
  transform: translateX(-30rem);
  transition: all 0.5s;
}

button.open-sidebar {
  border: none;
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}

button.open-sidebar:hover {
  border-color: #ffffff;
}

button.open-sidebar i {
  color: #040404;
}

button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

button.close-sidebar i {
  color: #040404;
}

.d-none {
  display: none;
}

.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}

.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}

.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

.pagination {
  margin-top: 3rem;
}

.pagination a {
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  border: 1px #a4a4a4 solid;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s;
}

.pagination a.active {
  font-weight: bold;
}

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}

.summary-title {
  font-size: 2rem;
  padding: 1rem;
}

.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}

.summary-title.color2 {
  background-color: #e0f0e0;
}

.summary-title.color3 {
  background-color: #e0e0f0;
}

/* Chatbox */
.chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1001;
}

.chatbox ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.chatbox ul::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.chatbox ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.chatbox ul {
  overflow-y: scroll;
  max-height: 20rem;
  max-width: 40rem;
}

.chatbox li {
  margin-bottom: 1rem;
}

.chatbox input {
  width: calc(100% - 9rem);
}

.support-users {
  background: #f0f0f0;
  height: 100%;
}

.support-users li {
  background-color: #f8f8f8;
}

.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}

.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #f0f0f0;
}

.support-users li.selected {
  background-color: #c0c0c0;
}

.support-messages {
  padding: 1rem;
}

.support-messages ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.support-messages ul::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.support-messages ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.support-messages input {
  width: calc(100% - 9rem);
}

.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow-y: scroll;
}

.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}

.support-users .offline {
  background-color: #808080;
}

.support-users .online {
  background-color: #20a020;
}

.support-users .unread {
  background-color: #f02020;
}
/*# sourceMappingURL=style.css.map */